/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;600;700;800&family=Josefin+Sans&family=Manrope:wght@400;700&family=Montserrat:wght@300;500;600&family=Poppins:wght@200;400;500;600&display=swap');

body {
    /* ////////////////////////////// */
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    /* //////////////////////////////// */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 50px 140px 0px 140px; */
    width: 1300px;
    margin: 0 auto;

}

/*-- header --*/
.container {
    margin-top: 50px;
    margin-bottom: 130px;
}

.back {
    width: 1320px;
    height: 646px;
    border-radius: 30px;
    background-color: #161616;
    display: flex;
    position: relative
}

.banner-info {
    color: white;
    width: 50%;
    /* border: 1px solid white; */
    padding: 110px 0 110px 110px;

}

.banner-info h1 {
    margin: 0;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

.banner-info p {
    margin-top: 20px;
    width: 80%;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
}

.banner-image {
    width: 50%;
    /* border: 1px solid white; */
    /* padding: 110px; */
}

.banner-image img {
    position: absolute;
    bottom: 0;
    height: 613px;
    width: 581px;
}

.button {
    width: 187px;
    height: 56px;
    background: #DD0000;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.fa-play {
    margin-left: 10px;
}

/*//////////////////////////
        main section
////////////////////////// */
main {
    display: flex;
    width: 1320px;

}

.nav {
    border: 1px solid blue;
    width: 25%;
    height: 312px;
}

.blogs {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 130px;
}

.blog {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 370px;
}


.blog-info>span {
    margin-top: 30px;
    border: 2px solid grey;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 5px 15px;
}

.blog-info {
    padding: 20px;
    margin: 0;
    padding-bottom: 0;
}

.dum {
    display: flex;
    padding: 0 30px;
}

.foot {
    display: flex;
    justify-content: flex-start;
}


.nav-options {
    margin-right: 24px;
    padding: 30px;
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nav-options button {

    width: 252px;
    height: 64px;
    background-color: white;
    border-radius: 10px;

}

button a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

}

.special {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special {
    background-color: red;

}

.special a {
    display: block;
    background-color: #DD0000;
    color: white;
    padding: 0;
    height: 64px;
    font-size: 20px;
    line-height: 50px;
    width: 252px;
    border-radius: 10px;
}

.nav-options button:hover {
    box-shadow: rgba(255, 0, 242, 0.479) 0px 7px 29px 0px;
}

/* ---------------------
-----------------footer------------------ */


.down {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 0 0;

    height: 444px;
    width: 1366px;
    color: white;
    background: #161616;
}

.down hr {
    margin: 50px 0;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.last-box {
    margin: 0;
}

.last-box span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #B9B9B9;
    padding: 30px;

}